<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	<!-- 扫描controller所在包 -->
	<context:component-scan base-package="com.sunjoy.controller"></context:component-scan>
	<!-- 静态资源(js、image等)的访问 -->
	<mvc:default-servlet-handler/>
	<!-- 开启注解 -->
	<mvc:annotation-driven/>
	<!-- 视图解析器 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<bean id="entityMangerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan" value="com.sunjoy.model"></property>
		<property name="jpaVendorAdapter" >
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            	<prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/springdemo</prop>
            	<prop key="hibernate.connection.username">root</prop>
            	<prop key="hibernate.connection.password">6688</prop>
            	<prop key="hibernate.show_sql">true</prop>
            	<prop key="hibernate.connection.useUnicode">true</prop>
            	<prop key="hibernate.connection.characterEncoding">UTF-8</prop>
            	<prop key="hibernate.format_sql">true</prop>
            	<prop key="hibernate.use_sql_comments">true</prop>
            	<prop key="hibernate.hbm2ddl.auto">validate</prop>
            	<prop key="hibernate.connection.autoReconnect">true</prop>
            	<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            	<prop key="connection.autoReconnectForPools">true</prop>
            	<prop key="connection.is-connection-validation-required">true</prop>
				</props>
		</property>
	</bean>
	<!-- jpa repository 所在包 -->
	<jpa:repositories base-package="com.sunjoy.repository" entity-manager-factory-ref="entityMangerFactory"/>
	<!-- 事务管理 -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityMangerFactory"></property>
	</bean>
	<!-- 开启事务注解 -->
	<tx:annotation-driven/>
</beans>
